<%- include('../partials/head') %>
<h1>All Posts</h1>
<a href="/posts/new">Create post</a>
<ul class="red">
  <% for (let post of posts){%>
<li><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
<li><%= post.description %></li>
<li><%= post.date %></li>
<li><%= post.author %></li>
<li><%= post.ups %></li>
<li><%= post.downs %></li>
<br>
    <% }%>
</ul>
<%- include('../partials/footer') %>
