<%- include('../partials/head') %>
<div class="container">
  <div class="index-grid">
    <main>
      <div class="posts-list">
        <% for (let post of posts){%>
        <article class="post">
          <span><%= post.author %></span>
          <time><%= post.date %></time>
          <h2 class="post__title"><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
          <p class="post__description"><%= post.description %></p>
          <img class="post__img" src="<%= post.imageSrc %>" alt="">
          <p><%= post.rating %></p>
        </article>
        <% }%>
      </div>
    </main>
    <footer class="footer">
      <ul>
        <li> <a href="">Best</a></li>
        <li> <a href="">New</a></li>
        <li> <a href="">Subscribed</a></li>
        <li> <a href="">Communities</a></li>
      </ul>
    </footer>
  </div>
</div>
<%- include('../components/scroll-up') %>
<%- include('../partials/footer') %>
