<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Show</title>
</head>
<body>
  <h1><%= post.title %></h1>
  <h2><%= post.description %></h2>
  <h3><%= post.date %></h3>
  <h3><%= post.author %></h3>
  <h3><%= post.ups %></h3>
  <h3><%= post.downs %></h3>
  <a href="/posts/<%=post._id%>/edit">Edit post</a>
  <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
  <button>Delete post</button>
</form>
  <a href="/posts">All posts</a>
</body>
</html>
